/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Digital Disco';
    src: url('../fonts/DigitalDisco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Digital Disco Thin';
    src: url('../fonts/DigitalDisco-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes fallMove {
    0% {
        top: 0;
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        top: 200px;
        /* Cae 200px hacia abajo */
        transform: translateX(20px);
        /* Se mueve a la derecha */
        opacity: 0;
        /* Desaparece */
    }
}

body {
    font-weight: 400;
    background-color: rgb(32, 30, 30);
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-style: normal;
}

#sprite-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 1000;
}

.sprite {
    position: fixed;
    width: 32px;
    height: auto;
    image-rendering: pixelated;
    z-index: 1000;
}


h1 {
    font-weight: 550;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

h2 {
    font-family: 'Digital Disco', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #060606;
    margin-top: 10px;
}

p {
    font-family: 'Digital Disco', sans-serif;
    font-weight: 450;
    font-style: normal;
    line-height: 1.6;
    color: #333;
}

p footer{
    color: #fbf5f5;
}

header {
    padding: 20px;
    text-align: left;
    background-color: transparent;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
}

.titulo-cuadro {
    background-color: #2c3e50;
    padding: 10px 20px;
    border-radius: 10px;
}

.titulo-cuadro h1 {
    color: white;
    font-family: 'Digital Disco', sans-serif;
    margin: 0;
    font-size: 1.8rem;
}

.nav-cuadro {
    padding: 16px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}

.nav-cuadro ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.nav-cuadro a {
    background-image: url(../img/fondoGeneral.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 15px;
    border-radius: 20px;
    color: rgb(48, 45, 45);
    text-decoration: none;
    font-weight: 550;
    font-family: 'Digital Disco', sans-serif;
}

.nav-cuadro a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.container {
    display: flex;
    padding: 20px;
}

main {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    background-image: url(../img/fondoGeneral.webp);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}

footer {
    background-color: hsl(220, 1%, 57%);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1001;
}